.idea/
.DS_STORE
node_modules/
addon-build/
extension.js
*hot-update*
*.bundle.js*
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

docker-compose.override.yml
