.idea/
.DS_STORE
node_modules/
addon-build/
extension.js
*hot-update*
*.bundle.js*
graphics/*
!graphics/.gitkeep
dashboard/*
!dashboard/.gitkeep
.pnp.*
**/.yarn/*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.local

cypress/screenshots/
cypress/videos/

docker-compose.override.yml
