.Wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.Container {
  width: 60vw;
  height: 25vh;
  background-color: var(--ystv-dark);
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "left right"
    "banner banner";
  z-index: -100;
}

.Box {
  width: 100%;
  height: 100%;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
  font-family: OpenSans;
  font-size: 96rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: -2;
  box-shadow: inset 0rem 23rem 2rem rgba(255, 255, 255, 0.25);
}

.Crest {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300%;
  background-blend-mode: screen, normal;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: rotate(20deg) translate(-10%, -5%);
  z-index: -1;
  opacity: 0.2;
}

.Home {
  transform: rotate(-20deg) translate(20%, 0%);
}

.Away {
  transform: rotate(20deg) translate(-10%, 0%);
}

.Banner {
  grid-area: banner;
  font-family: OpenSans;
  font-size: 48rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
