.lineupTable {
	text-transform: uppercase;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
	border-left: 0;
	border-right: 0;
	width: 60vw;
	/*border-spacing: 0 1rem;*/
}

.lineupMicroRow {
	color: var(--light);
	background-color: var(--dark);
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: .2rem;
}

.lineupMicroRow img {
	max-width: 24vw;
	max-height: 24vh;
}

.groupColumns {
	vertical-align: top;
	padding: 0;
}

.lineupMicroRow td {
	font-size: 4vh;
	min-width: 4vw;
	padding: 1vh;
	text-align: center;
	width: 100%;
	padding-left: 1vw;
	padding-right: 1vw;
}

/*.lineupMicroRow td:nth-child(2) {*/
/*	width: 100%;*/
/*	padding-left: 1vw;*/
/*	padding-right: 1vw;*/
/*}*/

.positionNumber {
	text-align: center;
}

.titleCell div {
	color: #fff;
	font-size: 8vh;
	background-color: #faaf18;
	padding: 1vh 5vw;
	font-weight: 900;
	overflow: hidden;
	height: 11vh;
}

.lineupTable thead {
	z-index: 100;
	position: sticky;
}

.spacerColumn {
	width: 0.4vw;
}
