.scoreboard {
  --height: 4vh;
  --width: 6vw;
  --skew: -20deg;
}

.container {
  overflow: hidden;
  width: var(--width);
}
.parallelogram {
  width: var(--width);
  height: var(--height);
  margin: 0 0 0 -2vh;
  transform: skew(var(--skew));
  background: #fcaf17;
  overflow: hidden;
  position: relative;
}

.parallelogram div {
  transform: skew(calc(-1 * var(--skew)));
}

.parallelogram h1 {
  color: var(--light);
  font-weight: 900;
  margin: 0;
  margin-right: 1.5vh;
  filter: drop-shadow(0px 0px 1vh #00000077);
  font-size: 0.7em;
}

.parallelogram img {
  position: absolute;
  height: calc(var(--height) * 2.6);
  top: -60%;
  right: 0%;
  z-index: -1;
  transform: rotate(-10deg);
}

.parallelogramInnerContainer {
  margin-left: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 1vh);
}

.scores {
  font-weight: 900;
  background-color: var(--dark);
  width: calc(var(--width) * 1.4);
  height: var(--height);
  text-align: center;
  color: var(--light);
  font-size: 0.7em;
  margin: 0 -4vh;
  overflow: hidden;
  white-space: nowrap;
}

.toprow {
  display: flex;
  overflow: hidden;
}

.container2 {
  overflow: hidden;
  width: var(--width);
}
.parallelogram2 {
  width: var(--width);
  height: var(--height);
  margin: 0 0 0 2vh;
  transform: skew(var(--skew));
  background: #db0e21;
  overflow: hidden;
  position: relative;
}

.parallelogram2 div {
  transform: skew(calc(-1 * var(--skew)));
}

.parallelogram2 h1 {
  color: var(--light);
  font-weight: 900;
  margin: 0;
  margin-right: 1.5vh;
  filter: drop-shadow(0px 0px 1vh #00000077);
  font-size: 0.7em;
}

.parallelogram2 img {
  position: absolute;
  height: calc(var(--height) * 2.6);
  top: -60%;
  left: 0%;
  z-index: -1;
  transform: rotate(-10deg);
}

.parallelogramInnerContainer2 {
  margin-right: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 1vh);
}

.timer {
  box-shadow: inset 11px 0px 15px -11px rgb(0 0 0 / 70%);
  height: var(--height);
  width: var(--width);
  overflow: hidden;
  font-weight: 900;
  background-color: var(--light);
  text-align: center;
  color: var(--dark);
  font-size: 0.7em;
}
