.Table {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 1040rem;
  margin: 0 auto;
}

.Header {
  grid-area: header;
  background: #333333;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 3px rgba(255, 255, 255, 0.2);

  color: #ffffff;

  overflow: hidden;
  white-space: nowrap;
}

.HeaderContents {
  padding: 8rem 24rem;
  font-family: OpenSans;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 87px;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.Table {
  display: flex;
  flex-direction: column;
}

/* .Row:first-child {
  box-shadow: inset 0px 3.5px 3px rgba(0, 0, 0, 0.45);
  padding-top: 8rem;
  margin-top: 0;
}
.Row:not(:last-child) {
  border-bottom: 1rem solid rgba(33, 33, 33, 0.15);
} */

.CrestLanc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300%;
  background: url("../common/assets/LU_Shield_Graphics.svg");
  background-blend-mode: screen, normal;
  background-repeat: no-repeat;
  background-size: 80rem;
  transform: rotate(20deg) translate(-30rem, -3rem);
  z-index: -1;
  opacity: 0.2;
}

.CrestYork {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 400%;
  background: url("../common/assets/YSU_Shield_BW.svg");
  background-blend-mode: overlay, normal;
  background-repeat: no-repeat;
  background-size: 147rem;
  transform: rotate(-20deg) translate(9rem, -37rem);
  z-index: -1;
  opacity: 0.2;
}

.Row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* margin: 2rem 0; */
  min-height: 64rem;
  height: 80rem;
  font-family: OpenSans;
  font-style: normal;
  font-size: 36rem;
  line-height: 49rem;
}

.Lane {
  display: inline-block;
  width: 64rem;
  height: 100%;
  min-height: 64rem;
  font-family: OpenSans;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  position: relative;
  overflow: hidden;
  z-index: -2;
}

.Home {
  background-color: var(--lancaster-red);
  color: var(--ystv-light);
}

.Away {
  background-color: var(--york-white);
  color: var(--ystv-dark) !important;
}

.Name {
  background-color: rgba(51, 51, 51, 0.6);
  width: 100%;
  font-family: OpenSans;
  color: var(--ystv-light);
  padding-left: 8rem;
  font-style: normal;
  font-weight: 700;
  font-size: 36rem;
  line-height: 49rem;
  display: flex;
  align-items: center;
}

.Home .Name,
.Home .Desig {
  color: #ffffff;
}

.Away .Name,
.Away .Desig {
  color: #000000;
}
