node_modules/
extension.js
*hot-update*
*.bundle.js*
.idea/
*.local
public/local
src/common/boxerDictionary.ts
.DS_Store

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
