.backgroundImage {
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

.third {
	background-color: rgba(0, 0, 0, 0.71);
	overflow: hidden;
	color: var(--light);
	text-transform: uppercase;
}

.flexBottom {
	display: flex;
	flex-direction: column-reverse;
}

.third h2 {
	padding: 0 4vw;
	opacity: 1;
	animation: flickerAnimation 3s infinite ease-in-out;
}

@keyframes flickerAnimation { /* flame pulses */
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
